body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.container
{
    background: whitesmoke;
    max-width: 60%;
    margin: auto;
    border: 10px solid black;
    border-radius: 30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(201, 89, 89);
}

#increment-btn:hover{
    background:red;
}

#save-btn {
    background: darkgreen;
}
#save-btn:hover {
    background: rgb(25, 199, 25);
}
#reset-btn
{
    background: rgb(60, 131, 193);
}
#reset-btn:hover
{
    background: rgb(51, 87, 153);
}

